
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<section class="w3l-blog-single">
    <div class="single blog py-5">
        <div class="container py-lg-4">
            <div style="margin: 8px auto; display: block; text-align:center;">

                <!---728x90--->


            </div>
            <div class="title-content text-left">
                <h3 class="hny-title">Single Page</h3>
            </div>
            <div class="d-grid grid-colunm-2 mt-4">
                <!-- left side blog post content -->
                <div class="single-left">
                    <div class="single-left1">
                        <div class="blg-img">
                            <img src="~/images/banner1.jpg" alt=" " class="img-fluid">
                        </div>
                        <div class="btom-cont btom-cont1 pt-4 mt-md-2">
                            <h4><span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020</h4>
                            <h5 class="card-title"><a href="blog-single.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h5>
                            <ul class="admin-post">
                                <li>
                                    <a href="blog-single.html"><span class="fa fa-user"></span> Admin</a>
                                </li>
                                <li>
                                    <a href="blog-single.html"><span class="fa fa-heart-o"></span> 50</a>
                                </li>
                                <li>
                                    <a href="blog-single.html">
                                        <span class="fa fa-comments-o"></span> 20
                                        Comments
                                    </a>
                                </li>
                            </ul>
                            <p class="mb-4 mt-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                                doloribus
                                delectus ab sunt quasi eaque deleniti, quae ipsum suscipit sapiente neque nobis eum
                                porro eligendi voluptatibus voluptatem ex natus nisi? Et aspernatur ab voluptatum
                                repellendus molestiae beatae, illum placeat, temporibus laboriosam sit rerum? Ullam
                                optio eveniet impedit cupiditate ipsa pariatur!
                            </p>
                            <p class="">
                                The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution
                                of letters, as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page
                            </p>

                            <blockquote class="blockquote my-5">
                                <div class="icon-quote">
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                </div>
                                Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                consectetur.Ea consequuntur illum facere aperiam sequi optio.
                                <footer class="blockquote-footer mt-3">
                                    Alexander smith
                                </footer>
                            </blockquote>
                            <h5 class="card-title mt-lg-5 mt-4 ">
                                <a href="blog-single.html">The only thing that will possibly be different </a>
                            </h5>
                            <p class="mb-4 pt-2">
                                The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution
                                of letters, as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page
                            </p>

                            <div class="sing-post-thumb row">
                                <div class="col-sm-6">
                                    <a href="#url"><img src="~/images/1.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="col-sm-6 mt-sm-0 mt-3">
                                    <a href="#url"><img src="~/images/2.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <h5 class="card-title mt-lg-5 mt-4 ">
                                <a href="blog-single.html">Summary </a>
                            </h5>
                            <p class="mb-4 pt-2">
                                The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution
                                of letters, as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page
                            </p>

                            <ul class="share-post my-5">
                                <li>
                                    <h4 class="side-title mr-sm-4 mr-2">Share this post :</h4>
                                </li>
                                <li>
                                    <a href="#link" class="facebook" title="Facebook">
                                        <span class="fa fa-facebook" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#link" class="twitter" title="Twitter">
                                        <span class="fa fa-twitter" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#link" class="instagram" title="Instagram">
                                        <span class="fa fa-instagram" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nav class="post-navigation row mt-5 py-4">
                        <div class="post-prev col-6 pr-sm-5">
                            <span class="nav-title">
                                <span class="fa fa-angle-double-left"></span> Prev Post
                            </span>
                            <a href="#url" rel="prev" class="posts-view posts-view-left">
                                <img src="~/images/m4.jpg" class="img-fluid postimg d-none d-md-block">
                                <label>Lorem ipsum dolor sit</label>
                            </a>
                        </div>
                        <div class="post-next col-6 pl-sm-5 text-right">
                            <span class="nav-title">
                                Next Post <span class="fa fa-angle-double-right"></span>
                            </span>
                            <a href="#url" rel="next" class="posts-view posts-view-right">
                                <label>Lorem ipsum dolor sit</label>
                                <img src="~/images/m5.jpg" class="img-fluid postimg d-none d-md-block">
                            </a>
                        </div>
                    </nav>
                    <div class="comments mt-5">
                        <h3 class="post-content-title">Comments</h3>

                        <div class="media mt-5">
                            <div class="img-circle">
                                <img src="~/images/c1.jpg" class="mr-3 rounded-circle" alt="...">
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">William James</h5>
                                <span class="time">29 minutes ago</span>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, officiis rerum
                                    assumenda facere maxime accusamus cum. Numquam harum vitae id. Nemo qui fugiat
                                    nam quasi?
                                </p>
                                <a href="#reply-form" class="reply">Reply</a>

                                <div class="media mt-3">
                                    <a class="" href="#">
                                        <div class="img-circle img-circle-sm">
                                            <img src="~/images/c2.jpg" class="mr-3 rounded-circle" alt="...">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Benjamin Lucas</h5>
                                        <span class="time">4 hours ago</span>
                                        <p>
                                            In gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                            purus odio. Fusce condimentum nunc ac nisi vulputate
                                            fringilla. Donec lacinia congue felis in faucibus.
                                        </p>
                                        <a href="#reply-form" class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="media mt-5">
                            <div class="img-circle">
                                <img src="~/images/c3.jpg" class="mr-3 rounded-circle" alt="...">
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Isabella Mia</h5>
                                <span class="time">16 hours ago</span>
                                <p>
                                    Facere atque minus necessitatibus deserunt quibusdam voluptas quo? Omnis
                                    temporibus at, reprehenderit exercitationem dolores fuga, iste quidem earum
                                    nihil iusto repellendus. Assumenda alias illo dignissimos corrupti doloribus.
                                    Tenetur architecto rerum voluptate mollitia accusamus cumque, dolorem eveniet
                                    maxime?
                                </p>
                                <a href="#reply-form" class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="media mt-5">
                            <div class="img-circle">
                                <img src="~/images/c1.jpg" class="mr-3 rounded-circle" alt="...">
                            </div>
                            <div class="media-body">
                                <h5 class="mt-0">Oliver Bradley</h5>
                                <span class="time">Yerterday</span>
                                <p>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio. Fusce condimentum nunc
                                    ac
                                    nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                </p>
                                <a href="#reply-form" class="reply">Reply</a>
                            </div>
                        </div>

                    </div>
                    <div class="testi-top mt-5 pt-3">
                        <h3 class="post-content-title">Leave a Message</h3>
                        <div class="form-commets mt-5">
                            <form action="#" method="post">
                                <div class="media-form">
                                    <input type="text" class="mb-3" name="Name" required="Name" placeholder="Your Name">
                                    <input type="email" class="mb-3" name="Email" required="Email" placeholder="Your Email">
                                </div>
                                <textarea name="Message" required="" placeholder="Write your comments here"></textarea>
                                <div class="text-right mt-3">
                                    <button class="btn read-button" type="submit">Post comment</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->
                <div class="right-side-bar">
                    <aside class="posts">
                        <h3 class="aside-title mb-3">Search Here</h3>
                        <form class="form-inline search-form" action="#" method="post">
                            <input class="form-control" type="search" placeholder="Enter your Keyword" aria-label="email" required="">
                            <button class="btn search" type="submit"><span class="fa fa-search"></span></button>
                        </form>
                    </aside>
                    <aside class="posts">
                        <h3 class="aside-title">Top Movies</h3>
                        <ul class="category">
                            <li>
                                <a href="#link"><span class="fa fa-angle-right"></span>All <label> (11)</label></a>
                            </li>
                            <li>
                                <a href="#link">
                                    <span class="fa fa-angle-right"></span> Romantic
                                    <label>(24)</label>
                                </a>
                            </li>
                            <li>
                                <a href="#link"><span class="fa fa-angle-right"></span> Sad <label>(18)</label></a>
                            </li>
                            <li>
                                <a href="#link">
                                    <span class="fa fa-angle-right"></span> Action
                                    <label>(08)</label>
                                </a>
                            </li>
                            <li>
                                <a href="#link">
                                    <span class="fa fa-angle-right"></span> Crime
                                    <label>(38)</label>
                                </a>
                            </li>
                            <li>
                                <a href="#link">
                                    <span class="fa fa-angle-right"></span> Family
                                    <label>(26)</label>
                                </a>
                            </li>
                            <li>
                                <a href="#link">
                                    <span class="fa fa-angle-right"></span>
                                    Commedy<label>(26)</label>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="posts">
                        <h3 class="aside-title">Recent Posts</h3>
                        <div class="posts-grids">
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="blog-single.html">
                                        <img src="~/images/m1.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <p>
                                        <span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020
                                    </p>
                                    <h4>
                                        <a href="blog-single.html" class="text-bl">Sed ut perspiciatis</a>
                                    </h4>
                                    <span class="price"> <a href="blog-single.html"> <span class="fa fa-comments-o"></span> 15 Comments</a></span>
                                </div>
                            </div>

                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="blog-single.html">
                                        <img src="~/images/m3.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <p>
                                        <span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020
                                    </p>
                                    <h4>
                                        <a href="blog-single.html" class="text-bl">Otam rem aperiam</a>
                                    </h4>
                                    <span class="price"> <a href="blog-single.html"> <span class="fa fa-comments-o"></span> 15 Comments</a></span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="blog-single.html">
                                        <img src="~/images/m4.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <p>
                                        <span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020
                                    </p>
                                    <h4>
                                        <a href="blog-single.html" class="text-bl">Sed ut perspiciatis</a>
                                    </h4>
                                    <span class="price"> <a href="blog-single.html"> <span class="fa fa-comments-o"></span> 15 Comments</a></span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="blog-single.html">
                                        <img src="~/images/m5.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <p>
                                        <span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020
                                    </p>
                                    <h4>
                                        <a href="blog-single.html" class="text-bl">Unde omnis iste natus</a>
                                    </h4>
                                    <span class="price"> <a href="blog-single.html"> <span class="fa fa-comments-o"></span> 15 Comments</a></span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="blog-single.html">
                                        <img src="~/images/m6.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <p>
                                        <span class="fa fa-clock-o mr-1" aria-hidden="true"></span> 12th May, 2020
                                    </p>
                                    <h4>
                                        <a href="blog-single.html" class="text-bl">Otam rem aperiam</a>
                                    </h4>
                                    <span class="price"> <a href="blog-single.html"> <span class="fa fa-comments-o"></span> 15 Comments</a></span>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="posts">
                        <h3 class="aside-title">Happy Faces</h3>
                        <div class="posts-grid">
                            <a href="blog-single.html">
                                <img src="~/images/team1.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blog-single.html">
                                <img src="~/images/team2.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blog-single.html">
                                <img src="~/images/team3.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blog-single.html">
                                <img src="~/images/team4.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blog-single.html">
                                <img src="~/images/team5.jpg" alt=" " class="img-fluid">
                            </a>
                            <a href="blog-single.html">
                                <img src="~/images/team6.jpg" alt=" " class="img-fluid">
                            </a>
                        </div>
                    </aside>


                </div>
                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>

<script src="~/js/theme-change.js"></script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
