<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style-starter.css" rel="stylesheet" />
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <img src="~/fonts/fontawesome-webfont.svg" />
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <script src="~/js/all.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/easyResponsiveTabs.js"></script>
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/theme-change.js"></script>
</head>
<body>
    <!-- header -->
    <header id="site-header" class="w3l-header fixed-top">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
            <div class="container">
                <h1>
                    <a class="navbar-brand" href="/Home/Index">
                        <span class="fa fa-play icon-log" aria-hidden="true"></span>
                        Studentsko pozoriste
                    </a>
                </h1>
                <!-- if logo is image enable this
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        @if (Session["UserName"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Login/Index">Login</a>
                            </li>
                        }
                        @if (Session["UserName"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index">Vijesti</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/About/Index">Informacije</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Predstave/Index">Predstave</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Repertoar/Index">Repertoar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Biletarnik/Index">Biletarnici</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Posjetioci/Index">Posjetioci</a>
                            </li>
                        }
                    </ul>

                    
                    <ul class="navbar-nav style="float:right!important">
                        @if (Session["UserName"] != null)
                        {
                            <li><p style="margin-top15px">@Session["UserName"]</p></li>
                            <li>
                                <a href="/Login/Logout" class="btn">  LogOut</a>
                            </li>

                        }

                    </ul>

                </div>

            </div>
        </nav>
        <!--//nav-->
    </header>
    <!-- //header -->
    <div>
        @RenderBody()
    </div>
    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-about">
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    
                                        <img class="img-fluid" src="~/images/logo.jfif"
                                             alt="">
                                    
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    
                                        <img class="img-fluid" src="~/images/slika1.jfif"
                                             alt="">
                                    
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    
                                        <img class="img-fluid" src="~/images/slika2.jfif"
                                             alt="">
                                    
                                </div>
                                <div class="col-md-3 col-6 footer-img mb-lg-0 mb-4">
                                    
                                        <img class="img-fluid" src="~/images/slika3.jfif"
                                             alt="">
                                    
                                </div>
                            </div>
                            <div class="row footer-links">


                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6><a href="/About/Index">Informacije</a></li></h6>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6><a href="/Zanr/Index">Predstave</a></li></h6>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6><a href="/Repertoar/Index">Repertoar</a></li></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>
                                &copy; Pozoriste na dlanu - Projektovanje softvera
                            </p>
                        </div>


                    </div>
                </div>
            </div>
            <!-- copyright -->
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->

        </section>
    </footer>
    <!--//footer-66 -->
</body>
</html>
